<div class="product-card">
  <div class="badge">{{product.tags[0]}}</div>
  <div class="product-tumb">
    <img [src]="product.images[0]" alt="" />
  </div>
  <div class="product-details">
    <span class="product-catagory"
      ><strong>Category:</strong> {{product.category}}</span
    >
    <h4><a href="">{{product.title}}</a></h4>
    <p>
      {{product.description | slice:0:85}}
      <span *ngIf="product.description.length > 90">...</span>
    </p>
    <div class="product-bottom-details">
      <div class="product-price">${{product.price}}</div>
    </div>
  </div>
</div>
