
.product-card {
  width: 300px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 50px 2rem;
  background: #fafafa;
  float: left;
}
.product-card:hover {
  cursor: pointer;
  box-shadow: 10px 12px 23px -3px rgba(0,0,0,0.75);
 -webkit-box-shadow: 10px 12px 23px -3px rgba(0,0,0,0.75);
 -moz-box-shadow: 10px 12px 23px -3px rgba(0,0,0,0.75);
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: #092f40;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 185px;
  padding: 50px;
  background: #f0f0f0;
}

.product-tumb img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.product-details {
  padding: 30px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 18px;
  line-height: 1.8;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #064867;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1.3rem;
  line-height: 1.5;
  min-height: 62px;
}

.product-details h4 a:hover {
  color: #072432;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
  text-align: center;
}

.product-price {
  font-size: 1.4rem;
  color: #064867;
  font-weight: 600;
  text-align: center;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
}
strong {
  font-weight: bold;
  color: black;
  text-transform: capitalize
}
// Ripple Button
.ripple{
  position: relative;
  overflow: hidden;
}

.ripple:before {
  border-radius: 50%;
  background-color: rgba(255,255,255,0.6);
  content:'';
  position: absolute;
  top: 50%; left: 50%;
  width:0; height:0;
}

.ripple:focus:before {
  transition: all 0.5s ease-out;
  opacity:0;
  width:160px;
  height:160px;
  margin-top:-80px;
  margin-left:-80px;
}
.button-base{
  -webkit-appearance: none;
  border: none;
  text-transform: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #064867;
  color: #fff;
  vertical-align: middle;
  border-radius: 3px;
  line-height: 36px;
  min-height: 36px;
  font-size: 14px;
  text-align: center;
  text-decoration:none;
  text-transform: uppercase;
  min-width: 5.14em;
  padding:0 1em;
  margin: 1rem 0 0.25em;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}

.button-base:focus{
  outline:0;
}
