/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: sans-serif;
}
section {
  padding: 1rem;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
 .ngx-pagination{
  font-size: 1.2rem;
  text-align: center;
}
.ngx-pagination .current{
  background: #064867 !important;
}
